body {
	font-family: 'Julius Sans One', sans-serif;
}
/*
div {
	border:1px solid brown ;
}
*/

/*header details*/

.intro h1 {
	font-size: 5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.1em;
	margin: 1em 0.1em;
}

/*All styles that involve the examples section: this is an auxiliary section for the user to know what rooms are worked with*/
.examples-section {
	background-color: #646464;
}
.examplebar {
	height:8em;
}

button, .examplebar h1 ,#add-items {
border: none;
border-radius: 1em;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 2.5em;
height: 2em;
line-height: 2em;
margin: 0.5em 1em;
padding: 0 0.5em;
text-align: center;
}

button {
background-color: #909090;	
}

.examplebar h1{
float:left;
}
.expand{
	float:right;
	text-transform: uppercase;
}

.examplelist {
  text-align:center;
  display:none;
}
.example {
	display: inline-block;
	width: 25em;
	height: 25em;
	background-color: #d2111b;
	border-radius: 2em;
	margin: 1em 2em;
}

/*images in the example list*/
.kitchen,.workspace,.bathroom,bedroom,.hometheatre,.laundry{
	background-repeat: no-repeat;
  	background-size:cover;
  	background-position: center;
}
.kitchen {
	background-image:url('../images/KITCHEN.PNG');
}

.workspace {
	background-image:url('../images/WORKSPACE.PNG');
}

.bathroom {
	background-image:url('../images/BATHROOM.PNG');
}

.bedroom{
	background-image:url('../images/BEDROOM.PNG');
}

.hometheatre{
	background-image:url('../images/HOMETHEATRE.PNG');

}

.laundry{
	background-image:url('../images/LAUNDRY.PNG');
}

/*This is the shopping list zone*/
.shopping-list {
	height:53em;
	background-color:#D2111B;
	padding: 0.1rem 6em;
}

.shopping-menu {
	text-align:center;
	width:100%;
	height:100%;
}
.shopping-menu h1  {
	color:#fff;
	font-size: 3em;
	margin:1em 0;
	text-transform: none;
}

.shopping-menu h2 {
	color:#fff;
	font-size: 2em;
	margin:0.5em 0 1em 0;
	text-transform: none;
}
#add-items {
	color:black;
}

/*the last section, sponsor details and social*/
.social {
	text-align:center;
	height:30em;
	background-color: #fff;
	position: relative;
	width: 100%;
	z-index: 9999;
	padding:10%;
}
.social h1 {
	font-size:2em;
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

